html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgb(56,184,58);
  background: linear-gradient(90deg, rgba(56,184,58,1) 0%, rgba(255,255,255,1) 50%, rgba(219,30,30,1) 100%);
}

.form-signin {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
